{% extends "admin.html" %}

{% block content %}

{% for transaction in transactions %}
<ul class="list-unstyled">
  <li class="media well">
    <div class="media-left">
      <a href="#">
        <img src='{{ transaction["img"] }}' width="230px" height="150px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ transaction['brand'] }} {{ transaction['model'] }}</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>Brand: {{ transaction['brand'] }}</td>
            <td>Model: {{ transaction['model'] }}</td>
          </tr>
          <tr>
            <td>Mileage: {{ transaction['mileage'] }}</td>
            <td>Year: {{ transaction['year'] }}</td>
          </tr>
          <tr>
            <td>Price: {{ transaction['price'] }}</td>
          </tr>
        </tbody>
      </table>
      <p class="media-heading">Bought by: <strong>{{ transaction['username'] }}</strong> at {{ transaction['execution_date'] }}.</p>
    </div>
  </li>
</ul>
{% endfor %}

<div class="text-center">
  <ul class="pagination">
    {% for p in pages %}
      <li class="page-item"><a class="page-link" href="{{ url_for('activity', page=p) }}">{{ p }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}