<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>UCStore</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
</head>
<body>    
  <div class="container">
    <div style="position:absolute;top:50%;left:50%;margin-right:-50%;transform: translate(-50%, -50%);width: 40%">
      <form action="{{ url_for('validate') }}", method="POST">
        <input type="text" name="username" class="form-control" placeholder="username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</body>
</html>
