<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>UCStore</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  html, body {
    background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-644552.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .borderless td, .borderless th {
    border: none;
  }
</style>
</head>
<body>

  <!-- navbar conatiner -->
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Used Cars Store</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>Hello {{ account["username"] }}!</li>
          <li class="active"><a href="#">Balance: {{ account["balance"] }}$</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ./container -->

  <!-- filter conatiner -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="well">
          <h3>Filter</h3>
          <form>
            <div class="form-group">
              <label>Production year</label>
              <input type="text" class="form-control" id="minprice">
            </div>
            <div class="form-group">
              <label>Minimum price</label>
              <input type="text" class="form-control" id="minprice">
            </div>
            <div class="form-group">
              <label>Mximum price</label>
              <input type="text" class="form-control" id="maxprice">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-lg-9">
        <ul class="list-unstyled">
          {% for car in cars %}
            <li class="media well">
              <div class="media-left">
                <a href="#">
                  <img src='{{ car["img"] }}' width="230px" height="150px">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ car["brand"] }} {{ car["model"] }}</h4>
                <table class="table borderless">
                  <tbody>
                    <tr>
                      <td>Brand: {{ car["brand"] }}</td>
                      <td>Model: {{ car["model"] }}</td>
                    </tr>
                    <tr>
                      <td>Mileage: {{ car["mileage"] }}</td>
                      <td>Year: {{ car["year"] }}</td>
                    </tr>
                    <tr>
                      <td>Price: {{ car["price"] }}</td>
                      <td><button type="submit" class="btn btn-default">Buy it!</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- ./container -->

</body>
</html>

