
html, body {
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-644552.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


